.login_content{
    position: absolute;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 448px;
    top:50%;
    left:50%;
    margin-top: -278px;
    margin-left:-224px;
}

.login_c{
    float: left;
    width: 400px;
    height: 262px;
    background-image: url('/help.files/images/login_content.jpg');
    background-repeat: repeat-x;
}

.login_content_border_l{
    float: left;
    width: 24px;
    height: 262px;
    background-image: url('/help.files/images/login_border_l.jpg');
}

.login_content_border_r{
    float: left;
    width: 21px;
    height: 262px;
    background-image: url('/help.files/images/login_border_r.jpg');
}

.login_content_border_help{
    height: 262px;
}

.login_content table{
    position: relative;
    margin-left:50px;
    font-size: 10px;
}

.login_content h4{
    margin-left:50px;
}

.login_content  td{
    height: 30px;
}

.login_content input[type="text"]{
    margin-left: 30px;
    width:200px
}


.login_content input[type="password"]{
    margin-left: 30px;
    width:200px
}


.login_content p{
    margin-left: 30px;
}

.login_submit_button{
    position: relative;
    width: 83px;
    margin-left: 30px;

}

.login_submit_l{
    float: left;
    background-image: url('/help.files/images/login_submit_l.png');
    width: 7px;
    height: 22px;
}

.login_submit_r{
    float: left;
    background-image: url('/help.files/images/login_submit_r.png');
    width: 6px;
    height: 22px;
}



.login_button{
    background-image: url('/help.files/images/submit_button.jpg');
    background-repeat: repeat-x;
    border: none;
    height: 22px;
    float: left;
    width: 70px;
    color:white;
}